
.container{
    margin-right: 20px;
    width: 80%;
    height: 40%;
    margin-left: 20%;
    padding-bottom: 16%;
    padding-top: 13%;
    
    
}
h2{
    padding-left: 27%; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url('https://images.unsplash.com/photo-1546414654-1175d01ad8c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat:no-repeat;
    
    
    background-size: 100%;
    
}
